* {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 2px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    padding: 10px;
    font-size: 13px;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav > div:first-child {
   min-width: 200px;
}

nav > div:first-child {
    min-width: 200px;
 }


